/* Start Posts Style */
.posts {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    padding: 42px 70px;
}
.posts .post {
    box-shadow: 0px 4px 7px -2px #cccccc;
    overflow: hidden;
}
.posts .post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
}
.posts .post-top .person-left {
    display: flex;
    align-items: center;
}
.posts .post-top .info-tab i {
    color: #F73E60;
}
.posts .post-top .person-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #f73e60;
}
.posts .post-top .person-img img {
    width: 100%
}
.posts .person-info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.posts .person-info h5 {
    margin: 0;
    font-size: 10px;
    color: #6d6d6d;
    font-weight: 600;
    margin-bottom: 2px;
}
.posts .person-info span {
    font-size: 8px;
    color: #cccccc;
}
.posts .post-img img {
    width: 100%;
}

.posts .post-bottom {
    display: flex;
    justify-content: space-between;
    padding: 6px 15px 8px;
}
.posts .post-bottom .left-icons i {
    padding-right: 12px;
}
.posts .post-bottom i {
    color: #ccc;
}
.posts .post-bottom .left-icons i.fa-heart {
    color: #f73e60
}
/* Start Posts Style */